
.azeret-mono-uniquifier {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    
  }
  .blue{
   background-color: rgb(228, 245, 245);
  }
 
 /*nav related style*/
  .im{
    background-image: url(Hero-bg.png);
    height: 550px;
    width: 1365px;
  }
 nav ul{
    
    list-style-type: none;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 40px;
 }
 .logo-design{
    color: #4E47FF;
    font-size: 40;
    font-weight: black;

 }
 .btn-primary{
    color: #FFFFFF;
    font-weight: lighter;
    font-size: 16;
    background-color: #4E47FF;
    border-radius: 6px;
   box-sizing: border-box;
   border: none;
   padding: 12px 36px ;
   margin-top: 10px;

 }

 .banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px 50px;
 }
 .btn-second{
    color: #FFFFFF;
    font-weight: lighter;
    font-size: 16;
    background-color: #4E47FF;
    border-radius: 6px;
   box-sizing: border-box;
   border: none;
   padding: 12px 36px ;

 }
 .ban-tittle{
    font-weight: bolder;
    font-size: 90;
    color: 252432;
 }

 .product{
    margin: 70px 250px;
 }
 .pro-content{
   display: flex;
   
 }
 .pro-col{
    color: #AAAAAA;
 }
 .pro-tittle{
    /*font-size:50 ;*/
    color: 700;
    font-weight: #252432;
 }
 .btn-third{
    color: #FFFFFF;
    font-weight: lighter;
    font-size: 16;
    background-color: #4E47FF;
    border-radius: 6px;
   box-sizing: border-box;
   border: none;
   padding: 12px 36px ;
 }

 

 .style-sec{
    background-color:#dadada;
    margin: 70px 250px;
    border-radius: 10px;
    display: flex;
 }
 .listing{
list-style-type: none;
 }
.box{
   padding: 20px 45px;
  /*justify-content: center;*/
  display: flex;
}
.head{
  padding: 0px 70px;
   font-size: 40;
   font-weight: bold;
   
}
.head-one{
   text-align: center;
   justify-content: center;
   display: flex;
}
.number{
   color: #4E47FF;
   font-size: 170;
   font-weight: bold;
}
.value{
   color: #AAAAAA;
   font-size: small;
}
 .head-four{
    margin: 70px 250px;
    font-weight: 600;
 }
 .head-T{
 text-align: center;
 display: flex;
 justify-content: center;
 }

 .container{
   display: flex;
   gap: 10px;
   margin: 70px 250px;
 }
 .review{
  background-color: aliceblue;
 }
 .R-name{
   display: flex;
 }
 .R-D{
   padding-left: 15px;
   font-size: medium;
}
.btn-x{
 color: #FFFFFF;
    font-weight: lighter;
    font-size: 16;
    background-color: #4E47FF;
    border-radius: 6px;
   box-sizing: border-box;
   border: none;
   padding: 12px 36px ;
}
.focus{
   
   text-align: center;
   justify-content: center;
   padding: 15px;
}
.f-des{
   color: #AAAAAA;
   font-size: small;
}
.last-img{
   padding: 20px;
   text-align: center;
   border-radius: 30px;
   width: 400px;
   height: auto;
}
   .style-four{
      background-color: #FFFFFF;
      margin: 70px 250px;
   }


.btn-last{
   color: #FFFFFF;
    font-weight: lighter;
    font-size: 16;
    background-color: #4E47FF;
    border-radius: 6px;
   box-sizing: border-box;
   border: none;
   padding: 15px;
}
input{
  
   padding: 15px;
}

.styleX{
   display: flex;
    margin: 70px 250px;
}
.F{
   margin-left: 250px;
}
.get{
   font-size: xx-large;
}